
.gjr_hero_wrapper {
  margin: auto;
  height: 749px;
  width: 100%;
  overflow: hidden;
  border: 1px solid red;
}
.gjr_hero_content {
  width: 100%;
  height: 100%;
  position: relative;
}
.gjr_hero_wrapper  img{

width: 100%;
height: 100%;
object-fit: cover;
inset: 0;
}

/* .clip-hidden {
  clip-path: ellipse(0 0 at 0% 0%);
  opacity: 0;
}
.clip-visible {
  clip-path: ellipse(750px 750px at 0% 0%);
  opacity: 1;
} */
