
.gjr_hero_wrapper {
  margin: auto;
  height: 749px;
  width: 100%;
  overflow: hidden;
}
.gjr_hero_content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.gjr_hero_content button {
  width: 52px;
  height: 52px;
 
  position: absolute;
  top: 50%;
  font-size: 45px;
  outline:none;
  border: none;
  padding: .25rem 1rem;
  cursor: pointer;
  border-radius: 3px;
  background: transparent;
  color: white;
  transition: all .3s ease;
  border: 1px solid red
}
.gjr_hero_content button:hover {
  background: rgba(255, 255, 255, .3);
  background: rgba(0, 0, 0, .3)
}
#back {
  left: 32px;
}
#forward {
  right: 32px;
}
.gjr_hero_content  img{
width: 100%;
height: 100%;
object-fit: cover;
inset: 0;
position: absolute;
}


.gjr_hero_content  img.clip-hidden { 
  opacity: 0;
}
.gjr_hero_content  img.clip-visible { 
  opacity: 1;
}


