.gjr_home_link {
  position: fixed;
  top: 1.5rem;
  left:1rem;
  font-size: 12px;

  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #424242;
}
.gjr_home_link .anchor {
  color: #424242;
}
.nav__gjr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;

  padding: 1rem 0;
  font-family: 'Montserrat';

}
.nav__content_gjr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.nav__content_gjr p {
  font-weight: 350;
  color: #424242;
}
.nav__title {
  font-size: 54px;
  font-weight: bolder;
  text-align: center;
  color: rgb(11, 111, 225);
  color: #000077;
  margin-bottom: 1rem;
  font-family: 'montserrat';
  font-weight: 800;
}
.nav__title span {
  margin: 0 1rem;
  color: #424242;
  font-weight: 600;

}
.nav__banner_gjr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  width: 100%;
  margin-bottom: .5rem;
  /* border: 1px solid red; */
}
.logo_gjr i {
  font-size: 4rem;
  color: rgb(11, 111, 225);
  color: #000077;
}
.nav__content_gjr ul {
  margin-top: 1rem;
}
.nav__content_gjr ul li {
  display: inline-block;
  margin-left: 2rem;
}
.nav__content_gjr ul li a {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  /* padding: 1rem 0; */
}
.nav__content_gjr ul li a:hover {
  /* color: rgb(11, 111, 225); */
  text-decoration: underline;
text-decoration-thickness: 2px;
}

.gjr_link {
  position: relative;
  cursor: pointer;
  display: flex;
}
.gjr_mega_dropdown {
  position: fixed;
  top: 300px; 
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 600px;
  background: #f9f9f9;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;
  border: 1px solid #ddd;
}
.gjr_link:hover .gjr_mega_dropdown {
  top: 235px;
  visibility: visible;
  opacity: 1;
}
.gjr_link i {
  display: inline-block;
  margin-left: 10px;
  transition: all .4s ease;
}
.gjr_link:hover i {
  transform: translateY(-5px);

}


