

.category__section {
  width: 80%;
  /* height: 100vh; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items:center;
  gap: 40px;
  padding:  2rem 1rem;
  background: #f9f9f9;
  /* font-family: 'Jost'; */
 }
.items__container {
  width: 650px;
  min-height: 330px;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
}
.item {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .19), 
  0 6px 6px 0 rgba(0, 0, 0, .22);
  transition: all .3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  background: #fff !important;
  /* margin-bottom: 10px !important; */
}
.item__img_box {
  flex: 2;
  width: 90%;
  height: 80%;
  position: relative;
  transition: .3s ease;
}
.img_box img {
  width: 95%;
  height: 100%;
}
.img_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 100%; 
  display: flex;
  justify-content: center;
  transition: .3s ease;
  /* border: 1px solid #eee; */
}
.item  .item__desc {
  text-align: center;
  color: #898989;
  padding: 1rem 0;
}
.item .item__post {
  font-size: 11px;
  font-weight:400;
  padding: 1rem 0;
  color: deepskyblue;
}
.item .info__box {
  transition: all .3s;
  background: #fff;
  /* border: 1px solid #eee; */
}
.item:hover {
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 
              0 1px 2px rgba(0, 0, 0, .24);
 }
 .item:hover .info__box {
  transform: translateY(-10px);
 }
 .category__section .notice__board_container {
  position: relative;
  top: 2rem;
 }
 .category__section .notice__board_container h1 {
  margin-bottom: 2rem;
 }
 .category__section .notice__board_container span {
  color: deepskyblue;
 }
 .category__section .notice__board_container button {
  margin-top: 2rem;
  margin-right: 6px;
 }
 