/* .home_link {
  position: fixed;
  top: 1.5rem;
  left: 1rem;
  font-size: 12px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #fff;
}
.home_link .anchor { color: #fff; }
.sky__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Jost";
  z-index: 999;
 }
.first__banner  {
  width: 100%;
  background: rgba(30, 115, 190);
 }
.first__section_content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 10px 0;
 }
.first__banner h2 {
  color:#fff;
 }
.social__media i  {
  margin-left: 1rem;
  font-size: 18px;
  color: #fff;
 }
.second__banner {
  padding: 1rem 0;
  background: white;
  z-index: 99999;
 }
.second__section_content {
  width: 80%;
  margin: auto;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 10px 0;
 }
.second__logo_box {
  height: 91px;
  position: relative;
  display: flex;
 }
.second__logo_box a {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: #000044;
 }
.second__logo_box i {
  font-size: 55px;
 }

.second__banner .second__logo_box p {
  width: 100%;
  color: #5bafd3;
  display: block;
  position: absolute;
  top: 70%;
  left: 30%;
}
.second__banner_contact_section span {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 1rem;
}
.second__banner_contact_section li {
 display: inline-block;
 border-right: 1px solid #ddd;
}
.second__banner_contact_section li span a,
.second__banner_contact_section li span {
  letter-spacing: .025rem;
  color: #8d8d8d !important;
  font-size: .9em !important;
  font-weight: bolder;
 }

 .third__banner {
  width: 100%;
  height: 46px;
  background-image: linear-gradient(to right, #299fe7,rgba(41, 158, 231, 0.404)) ;
 }
 .third__section_content {
  width: 80%;
  height: 100%;
  margin: auto;
  border: 1px solid red;
 }
 .third__section_content .third_links {
  display: flex;
  align-items: center;
 }
 .third_links li {
  display: inline-block;
  position: relative;
  color: #fff;
  height: 44px;

 }
 .third_links li a {
  display: inline-block;
  height: 100%;
  line-height: 46px;
  color: #fff;
  background: #000044;
 }

.sky__dropdown_menu-water {
  position: fixed;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: #000044;
  padding: 1rem;
}
.sky__dropdown_content {
  width: 80%;
  margin: auto;
  border: 1px solid red;
} */







